<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- This conf file is only used by the Maven hibernate3 plugin -->
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">true</property>
    <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
    <property name="hibernate.implicit_naming_strategy">cr.ac.ucr.cicanum.tld.support.hibernate.CustomImplicitNamingStrategy</property>
  </session-factory>
</hibernate-configuration>